@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Six+Caps&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lacquer', cursive;
}

/* re-review the scroll snap effect and how it was solved. Also make sure to link clickable elements to part of the page especially contact. Also add the red tool bar at the top that labels scroll num, experiment with jquery other javascript files within sub htmls*/

.container::-webkit-scrollbar{
    width: 11px;
}
.container::-webkit-scrollbar-track{
    background: light grey;
}

.container::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 12px;
    border: 3px solid white;
}

body .container{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}


body .container section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    scroll-snap-align: center;
}


.flex-container{
    position: absolute;
    right: 0;
    width:100%;
    min-height: 100vh;
    padding: 100px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
}

.flex-container.active{
    color: lightgrey;
}



.mainTitle{
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color:white;
}

.mainTitle:hover{
    color:black;
}



.miscTitle{
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color:white;
}
.miscTitle:hover{
    color:black;
}


.subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    
}

.flex-container header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.menu-toggle{
    position: relative;
    width: 75px;
    height: 75px;
    background: url('circularLogo.png'); 
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    cursor: auto;
 

}
.menu-toggle.active{
    opacity: .75;
}



/* .flex-container .backgroundPic { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    old style
} */


.flex-container .backgroundPic { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position:center;
    opacity: 0.6;
    background-image: url(background_mainOutside.png);
    
}

.flex-container .backgroundPic.active{ 

    opacity: .35;

    
}

.spotlight.active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent 0px, rgba(0, 0, 0, 0.20) 0px);
    
}




.backgroundOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray;
    mix-blend-mode: overlay;
}


.backgroundVideo{
    width: 17%;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    opacity: 0.4;
    border: 3px solid black;
}

.backgroundVideo:hover{
    transition: 0.65s;
    /* transform: scale(1.05); */
    transform: scale(1.35);
    cursor: auto;
    bottom: 55px;
    right: 85px;
    opacity: .5;
}


.flex-container .text1{
    position: relative;
    z-index: 10;
}


.pinOne{
    position: absolute;
    padding: 0;
    left: 47%; 
    margin: 0; 
    width: 2%;
    filter: grayscale(90%);
    cursor:pointer; 
}
.pinTwo{
    position: absolute;
    padding: 0;
    left: 65%; 
    top: 38%;
    margin: 0; 
    width: 2%;
    filter: grayscale(90%);
    cursor:pointer; 
}
.pinThree{
    position: absolute;
    padding: 0;
    left: 61%;
    bottom: 25%;
    margin: 0; 
    width: 2%;
    filter: grayscale(90%);
    cursor:pointer; 
}

.pinOne:hover,
.pinTwo:hover,
.pinThree:hover {
    filter: grayscale(40%);
    transition: 0.3s;
    transform: scale(1.2);
}


.pinOne.active, 
.pinTwo.active,
.pinThree.active{
    filter: grayscale(40%);

}



.flex-container .text1{
    max-width: 35%; 
    /* here it is for changing it */
    /* border: 2px solid blue; */
}




.text1 h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 2em;
    text-transform: uppercase;

}



.text1 h3{
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text1 p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    

}

.text1 .explore{
    color: white;
    text-decoration: none;
   
}

.explore:hover{
    color:black;
    letter-spacing: 8px;
}


.explore.active{
    color:lightgrey;
}

.explore.active:hover{
    color: black;
}


.text1 .contact{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.contact.active{
    color:white;
    background:darkgrey;;
}

.text1 .contact:hover{
    letter-spacing: 6px;
}

.social_nightMode {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_nightMode li{
    list-style: none;
}

.social_nightMode li a{
    display:inline-block;
    /* filter: invert(1); */
    /* margin-right: px; */
    transform: scale(0.5);
    transition: 0.5s;
}

.social_nightMode li a:hover{
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position:absolute;
    top: 0;
    /* left: 500px; */
    right: 50px;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.menu ul {
    position: relative;
    list-style: none;   
}

.menu li:not(:last-child){
    margin-bottom: 10px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu.active ul li a{
    color: lightgrey;
}

.menu ul li a:hover{
    color:black;
}


.pageTwo,
.pageThree,
.pageFour{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/* .pageTwo{
    background: rgb(36, 164, 138);
    
} */

.pageThree{
    background: rgb(211, 79,79);
}

.pageFour{
    background: lightsalmon;
}


/* PHONE PORTRAIT */
@media (max-width: 600px){
    body {
        /* padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right); */


        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
        
    }

    body .container{
        overflow-y: scroll;
        scroll-snap-type: y proximity;
    }
    
    
    body .container section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    
        scroll-snap-align: center;
    }

    .flex-container,
    .flex-container header {
        padding: 40px;
        
        
    }

    .spotlight.active{
        display: none;
    }
 
    .text1 h2{
        font-size: 2em;
    }

    .text1 a{
        font-size: 1em;
    }

    .text1 h3, p{
        /* font-size: 1em; */
        display: none;
    }
    .backgroundVideo{
        display: none;
    }

    .text1 .contact:hover{
        letter-spacing: 3px;
    }

    .pinOne{
        position: absolute;
        left: 57%;
        padding: 0;
        margin: 0;
        width: 12%;
    }

    .pinTwo{
        position: absolute;
        padding: 0;
        left: 73%; 
        top: 38%;
        margin: 0; 
        width: 12%;    }

    .pinThree{
        position: absolute;
        padding: 0;
        left: 63%;
        bottom: 30%;
        margin: 0; 
        width: 12%;     
    }


    .pinOne:hover,
    .pinTwo:hover,
    .pinThree:hover {
    transform: scale(1);
}
    

    .social_nightMode{
        left: 30px;
    }
   
    .menu{
        display: none;
    }

}

/* PHONE LANDSCAPE */
@media (min-width: 600px) and (max-width: 1000px){
    body {
        /* padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
         */

         padding-left: min(0vmin, env(safe-area-inset-left));
         padding-right: min(0vmin, env(safe-area-inset-right));
    }

    body .container{
        overflow-y: scroll;
        scroll-snap-type: y proximity;
    }
    
    
    body .container section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    
        scroll-snap-align: center;
    }

    .flex-container,
    .flex-container header {
        padding: 40px;
        
        
    }

    .spotlight.active{
        display: none;
    }
 
 
    .text1 h2{
        font-size: 2em;
    }

    .text1 a{
        font-size: 1em;
    }

    .text1 h3, p{
        /* font-size: 1em; */
        display: none;
    }
    .backgroundVideo{
        display: none;
    }

    .pinOne{
        position: absolute;
        left: 43%;
        padding: 0;
        margin: 0;
        width: 12%;
    }

    .pinTwo{
        position: absolute;
        padding: 0;
        left: 68%; 
        top: 42%;
        margin: 0; 
        width: 12%;    }

    .pinThree{
        position: absolute;
        padding: 0;
        left: 60%;
        bottom: 27%;
        margin: 0; 
        width: 12%;     
    }
    

    .social_nightMode{
        left: 30px;
    }
  
}



