@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Six+Caps&display=swap');

/* this to keep in mind that once my suit is fully built just combine this with the other style.css */


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lacquer', cursive;
} */

#flex-container2{
    position: absolute;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    /* background: rgb(145,145,145); */
    background: white;
    border: 20px solid rgb(145,145,145);
    /* transition: 1s; */
    /* z-index: 2; */
}

#flex-container2.active{
    background: black;
    border: 20px solid rgb(67, 67, 67);
}

.unityVideo{
    filter: invert(1);
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stopVideo{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    background: black;
    color: white;
   
}
.stopVideo:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.unityVideo.stopPlay{
    display: none;
}

.unityVideo.active{
    filter: invert(0);
}


/* #flex-container2:hover{
    background-video
   
} */


/* figure out how to activate both on hover flex1 & 2 at same time using javascript */

.flex-container2First{
    border: 2px solid red;
    width: 50%;
    height: 96vh;
}

.flex-container2First.active{
    background: black;
}

.flex-container2Second{
    border: 2px solid green;
    width: 50%;
    height: 96vh;
}

.flex-container2Second.active{
    background: black;
}

/* .flex-container2 .backgroundPic2 { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position:center; 
    
} */




/* .flex-container2.active{
    color: lightgrey;
    this is for night mode later
} */

/* .flex-container2 .backgroundPic2.active{ 

    opacity: .35;
    this is for night mode later

    
} */








