@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Six+Caps&display=swap');

/* this to keep in mind that once my suit is fully built just combine this with the other style.css */


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lacquer', cursive;
} */

.flex-container2{
    position: absolute;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    /* background: rgb(145,145,145); */
    background: black;
 
    /* border-top: 20px solid rgb(145,145,145); */
  

    /* border-top: 20px solid black;
    border-bottom: 20px solid black; */
    /* z-index: 2; */
    /* opacity: .93; */
    
}

.flex-container2.ease{
    justify-content: space-between;
    /* align-items: normal; */

    /* thank god for chromDevTools fixed this */
}


.flex-container2.active{
    background: black;
    /* border: 20px solid rgb(67, 67, 67); */
    /* this is for night mode */
}

.unityVideo{
    /* filter: invert(1); */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* opacity: .8; */
    
    
}

.stopVideo{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    background: black;
    color: white;
    
   
}
.stopVideo:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.unityVideo.stopPlay{
    height: 0vh;
    width: 0%;
    display: none;

}

/* .unityVideo.active{
    filter: invert(0);
} */


/* figure out how to activate both on hover flex1 & 2 at same time using javascript */

.flex-container2First{

     width: 0%;
     height: 0vh;
     visibility: hidden;
     opacity: 0;
     transition: all 2.5s linear;
    
}


.flex-container2First.active{
    /* background-color: rgb(145,145,145); */
    /* background-color: black; */
    
    visibility: visible;
    width: 72%;
    height: 96vh;
    display: flex;
    visibility: visible;
    opacity: 1;
    background-image:url('./theDelivererAssets/backgroundMaybe.jpg');
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;

}

.galleryInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.galleryInfo h1{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 35px;
    border: 2px solid red;
}

/* .galleryPin1,
.galleryPin2,
.temp{
    width: 100%;
    height: 33.333333%;
 
} */

.galleryPin1{
    width: 100%;
    height: 30%;
}

.galleryPin2{
    width: 100%;
    height: 30%;
}
.temp{
    width: 100%;
    height: 30%;
 
}


.galleryPin1,
.galleryPin2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid red; */
    /* padding-bottom: 20px; */
}

.galleryPin_real{
    filter: grayscale(90%);
    cursor: pointer;
    animation: pinMove 1s ease-in-out infinite;
    padding-bottom: 50px;
    /* border: 2px solid red; */
}

.galleryPin_real:hover{
    filter:grayscale(40%);

}

.galleryLeft,
.galleryRight,
.arrowContainer1,
.arrowContainer2,
.arrowContainer3,
.arrowContainer4{
    width: 25%;
    height: 100%;
    display:flex;
}

.arrowContainer3{
    
    align-items: center;
    justify-content: center;
}

.arrowContainer4{
   
    align-items: center;
    justify-content: center;
}

.arrow3{
    animation: slide3 1s ease-in-out infinite;
    filter: invert(1);
    /* transform: scaleX(-1); */
}

.arrow4{
    animation: slide4 1s ease-in-out infinite;
    filter: invert(1);
   
}

.arrowContainer1{
  
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid blue; */

}

.arrowContainer2{
   
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid blue; */

}

 .item{
    width: 100px;
    height: 70px;
    display:flex;
    /* border: 2px solid red; */
}



.arrow1{
    animation: slide1 1s ease-in-out infinite;
    /* transform: scaleX(-1); */
    /* border: 2px solid blue; */
    filter: invert(1);

}

.arrow2{
    animation: slide2 1s ease-in-out infinite;
    filter: invert(1);
   
   
}

@keyframes slide1{
    0%,
    100%{
      

        transform: translate(0,20px) rotate(135deg);
    }

    50%{
        transform: translate(20px,0) rotate(135deg);
    } 
}

@keyframes slide2{
    0%,
    100%{
 
        transform: translate(20px,20px) rotate(45deg);
    }

    50%{
        transform: translate(0,0) rotate(45deg);
    } 
}


@keyframes slide3{


    0%,
    100%{
        transform: translate(0,0) rotate(180deg);
    }

    50%{
        transform: translate(20px,0) rotate(180deg);
    } 
} 

@keyframes slide4{

    0%,
    100%{
        /* transform: translate(0,0); */
        transform: translate(20px,0);
    }

    50%{
        /* transform: translate(10px,0); */
        transform: translate(0,0);
    } 
}



@keyframes pinMove{

    0%,
    100%{
        /* transform: translate(0,0); */
        transform: translate(0,10px);
    }

    50%{
        /* transform: translate(10px,0); */
        transform: translate(0,0);
    } 
}



/* .zombieGallery{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.zombieGalleryReal{
    width: 98%;
    height: 92vh;
    transition: background-image 1s ease;
  
} */

.flex-container2First.active.night{

    /* background: rgb(67, 67, 67); */
    background-color: black;
}

.flex-container2Second{
    width: 0%;
    height: 0vh;
    visibility: hidden;
    opacity: 0;
    transition: all 2.5s linear;
}

.flex-container2Second.active{
    visibility: visible;
    width: 27%;
    height: 96vh;
    display: flex;
    visibility: visible;
    background-image: url('./theDelivererAssets/backgroundMaybe.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.flex-container2Second.active.night{
  
    /* background-color: rgb(67, 67, 67); */
    background-color: black;


}





/* .flex-container2 .backgroundPic2 { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position:center; 
    
} */




/* .flex-container2.active{
    color: lightgrey;
    this is for night mode later
} */

/* .flex-container2 .backgroundPic2.active{ 

    opacity: .35;
    this is for night mode later

    
} */








