@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Six+Caps&display=swap');

/* this to keep in mind that once my suit is fully built just combine this with the other style.css */


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lacquer', cursive;
} */

.flex-container2{
    position: absolute;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    /* background: rgb(145,145,145); */
    background: black;
 
    /* border-top: 20px solid rgb(145,145,145); */
  

    /* border-top: 20px solid black;
    border-bottom: 20px solid black; */
    /* z-index: 2; */
    /* opacity: .93; */
    
}



.flex-container2.ease{
    justify-content: space-between;
    /* align-items: normal; */

    /* thank god for chromDevTools fixed this */
}


.flex-container2.active{
    background: black;
    /* border: 20px solid rgb(67, 67, 67); */
    /* this is for night mode */
}

.unityVideo{
    /* filter: invert(1); */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* opacity: .8; */
    
    
}

.stopVideo{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    background: black;
    color: white;
    
   
}
.stopVideo:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.unityVideo.stopPlay{
    height: 0vh;
    width: 0%;
    display: none;

}

/* .unityVideo.active{
    filter: invert(0);
} */


/* figure out how to activate both on hover flex1 & 2 at same time using javascript */

.flex-container2First{

     width: 0%;
     height: 0vh;
     visibility: hidden;
     opacity: 0;
     transition: all 1.5s linear;
    
}


.flex-container2First.active{
    /* background-color: rgb(145,145,145); */
    /* background-color: black; */
    
    visibility: visible;
    width: 72%;
    height: 96vh;
    display: flex;
    visibility: visible;
    opacity: 1;
    background-image:url('./theDelivererAssets/backgroundMaybe.jpg');
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;

}

.galleryPanels{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* visibility: hidden; */
    /* border: 2px solid blue; */
}

.galleryPanelReal{
    /* border: 2px solid red; */
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(3,32.3333%);
    grid-template-columns: repeat(3,32.333%);
    /* grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: minmax(200px, auto); */
    gap: 1%;
    /* padding: 1%; */
}

.galleryInfo{
    background-color: black;
    border: 3px solid white;
    border-radius: 12px;


}



.gameOne,
.gameTwo,
.gameThree,
.gameFour,
.gameFive{
    position: relative;
    padding-bottom: 56.25%;
    border: 3px solid white;
    visibility: hidden;
    /* overflow: hidden; */
    /* filter:grayscale(1); */
}

.gameOne iframe,
.gameTwo iframe,
.gameThree iframe,
.gameFour iframe,
.gameFive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoOne,
.videoTwo,
.videoThree,
.videoFour,
.videoFive{
    
    /* border-radius: 12px; */
    aspect-ratio: 16 / 9;
    width: 80%;
    /* height: auto; */
    
    
}

.galleryInfo{
    visibility: hidden;
}

.galleryInfo.active{
    visibility: visible;
}



.gameOne.active,
.gameTwo.active,
.gameThree.active,
.gameFour.active,
.gameFive.active{
    visibility: visible;
    
}



.gameOne.active:hover,
.gameTwo.active:hover,
.gameThree.active:hover,
.gameFour.active:hover,
.gameFive.active:hover{
    transform: scale(1.05);
    /* filter:grayscale(0); */
}





.galleryPin_real{
    filter: grayscale(90%);
    cursor: pointer;
    animation: pinMove 1s ease-in-out infinite;
    padding-bottom: 40px;
    position: absolute;
    
}

.galleryPin_real:hover{
    filter:grayscale(40%);
    transform: scale(1.2);
    animation: none;

}

.galleryPin_real.active{
    display:none;
}


.gameTitle1{
    font-size: 20px;
    margin-right: 15px;
}

.gameTitle1.active{
    display:none;
}

@keyframes pinMove{

    0%,
    100%{
        /* transform: translate(0,0); */
        transform: translate(0,10px);
    }

    50%{
        /* transform: translate(10px,0); */
        transform: translate(0,0);
    } 
}



.flex-container2First.active.night{

    /* background: rgb(67, 67, 67); */
    background-color: black;
}

.flex-container2Second{
    width: 0%;
    height: 0vh;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s linear;
}

.flex-container2Second.active{
    visibility: visible;
    width: 27%;
    height: 96vh;
    display: flex;
    visibility: visible;
    background-image: url('./theDelivererAssets/backgroundMaybe.jpg');
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.flex-container2Second.active.night{
  
    /* background-color: rgb(67, 67, 67); */
    background-color: black;


}





/* .flex-container2 .backgroundPic2 { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position:center; 
    
} */




/* .flex-container2.active{
    color: lightgrey;
    this is for night mode later
} */

/* .flex-container2 .backgroundPic2.active{ 

    opacity: .35;
    this is for night mode later

    
} */








